<script src="/js/clientJS/adminpanel/adminpanel.js"></script>

<div class="bg-grey-level1 xl:pr-4 lg:pr-0 pr-4 px-4 md:px-8 py-6">

    <h3 class="text-2xl mb-5 font-bold font-orbitron text-white">Admin Panel</h3>

    <div class="flex flex-wrap gap-4 items-stretch">
        <div class="relative shadow-shdaow2xl p-5 rounded-md w-60 flex flex-col h-52"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Gameday / Results</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Current open gamedays</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="openGamedayReports">-</h3>
            <a href="#" id="openGamedayAdmin" class="absolute left-5 bottom-5 text-turquoise text-base font-semibold flex items-center">Go to Overview
                <i class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="relative shadow-shdaow2xl p-5 rounded-md w-60 flex flex-col h-52"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Patchnotes</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Current Version</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="currentVersion">-</h3>
            <a href="#" id="openPatchNotes"
               class="absolute left-5 bottom-4 text-turquoise text-base font-semibold flex items-center">Add new Patchnote<i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="relative shadow-shdaow2xl p-5 rounded-md w-60 flex flex-col h-52"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Cronjobs</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Active Jobs</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="activeJobs">-</h3>
            <a href="#" id="openCronjobs"
               class="absolute left-5 bottom-4 text-turquoise text-base font-semibold flex items-center">Manage Cronjobs<i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="relative shadow-shdaow2xl p-5 rounded-md w-60 flex flex-col h-52"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Registrationcodes</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Active Registrationcodes</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="activeRegistrationcodes">-</h3>
            <a href="#" id="openRegistrationcodes"
               class="absolute left-5 bottom-4 text-turquoise text-base font-semibold flex items-center">Manage Registrationcodes<i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="relative shadow-shdaow2xl p-5 rounded-md w-60 flex flex-col h-52"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Team management</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Teams</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="teamCount">-</h3>
            <a href="#" id="openTeammanagement"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Manage Teams<i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="relative shadow-shdaow2xl p-5 rounded-md w-60 flex flex-col h-52"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">User management</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Users</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="userCount">-</h3>
            <a href="#" id="openUsermanagement"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Manage Users<i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        initPage();

        $('#openGamedayAdmin').click(function (e) {
            e.preventDefault();
            loadPage('gamedayadmin')
        });

        $('#openPatchNotes').click(function (e) {
            e.preventDefault();
            loadPage('patchnotes')
        });

        $('#openCronjobs').click(function (e) {
            e.preventDefault();
            loadPage('cronjob')
        });

        $('#openRegistrationcodes').click(function (e) {
            e.preventDefault();
            loadPage('registrationcode')
        });

        $('#openTeammanagement').click(function (e) {
            e.preventDefault();
            loadPage('teammanagement')
        });

        $('#openUsermanagement').click(function (e) {
            e.preventDefault();
            loadPage('usermanagement')
        });
    });
</script>